:root {
    --primary-text: font-family: "Roboto", sans-serif;
    --title-text: font-family: "Raleway", sans-serif;
    --primary-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --secondary-color: #FFFFFF;
    --background-color: #2F303A;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 215px;
    background-color: #ECECEC;
    height: 80px;
}

.logo {
    font-family: var(--title-text);
    font-size: 26px;
    font-weight: 700;
    color: var(--primary-color);
}

.logo span {
    color: #000000;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.nav a {
    font-family: var(--primary-text);
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
}

.contacts {
    display: flex;
    gap: 30px;
}

.contacts p {
    font-family: var(--primary-text);
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.email {
    color: var(--primary-color);
}

.number {
    color: var(--text-color);
}

.title {
    text-transform: uppercase;
    font-family: var(--primary-text);
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 32px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    width: 250px;
    height: 50px;
}

.info {
    text-align: center;
    background-color: #2F303A;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.need {
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.text {
    font-family: var(--primary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 270px;
}

.needs {
    display: flex;
    padding-top: 94px;
    padding-left: 215px;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.do {
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-top: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.doing {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.doing img {
    width: 370px;
    height: 294px;
}

.team {
    background-color: #FFFFFF;
    width: 270px;
    height: 368px;
}

.team img {
    width: 270px;
    height: 260px;
}

.team h4 {
    font-family: var(--primary-text);
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-top: 30px;
}

.team p {
    font-family: var(--primary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.peoples {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 648px;
    background-color: #F5F4FA;
    margin-top: 94px;
}

.team-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.komanda {
    justify-content: center;
}

.footer {
    background-color: var(--background-color);
    height: 252px;
    padding: 60px 215px;
}

.logo_a {
    font-family: var(--title-text);
    font-size: 26px;
    font-weight: 700;
    color: var(--primary-color);
}

.logo_a span {
    color: var(--secondary-color);
}

.city {
    font-family: var(--primary-text);
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 20px;
}

.email_a {
    font-family: var(--primary-text);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}

.number_a {
    font-family: var(--primary-text);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}