:root {
    --primary-text: font-family: "Roboto", sans-serif;
    --title-text: font-family: "Raleway", sans-serif;
    --primary-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --secondary-color: #FFFFFF;
    --background-color: #2F303A;
}

.menu {
    width: 1600px;
    height: 80px;
    background-color: #ECECEC;
    padding-left: 215px;
    padding-top: 24px;
}

.logo {
    font-family: var(--title-text);
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    color: #000;
    letter-spacing: 0.03em;
}

.logo span {
    color: var(--primary-color);
}

.nav ul {
    list-style: none;       /* прибирає крапки */
    padding: 0px;
    display: flex;          /* робить елементи в ряд */
    gap: 50px;              /* відстань між пунктами */
    margin-top: 0px;
    margin-left: 453px;
}

.nav a {
    font-family: var(--primary-text);
    text-decoration: none;  /* без підкреслення */
    color: var(--title-color);         
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-left: 453px;
}

.contacts {
    margin-left: auto;  /* штовхає вправо */
    display: flex;
    gap: 50px;
}

.contacts p {
    font-family: var(--primary-text);
    margin: 0;   /* прибираємо стандартні відступи p */
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;

}

.email {
    color: var(--primary-color);
}

.number {
    color: var(--text-color);
}

.title {
    text-transform: uppercase;
    font-family: var(--primary-text);
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 32px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 50px;
}

.info {
    text-align: center;
    background-color: #2F303A;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.need {
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.text {
    font-family: var(--primary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 270px;
}

.needs {
    display: flex;
    padding-top: 94px;
    padding-left:  215px;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.do {
    font-family: var(--primary-text);
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    justify-content: center;
    margin-top: 94px;
    display: flex;
    flex-wrap: wrap;
}

.doing {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.doing img {
    width: 370px;
    height: 294px;
}

.team {
    background-color: #FFFFFF;
    width: 270px;
    height: 368px;
}

.team img {
    width: 270px;
    height: 260px;
}

.team h4 {
    font-family: var(--primary-text);
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-top: 30px;
}

.team p {
    font-family: var(--primary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.peoples {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 648px;
    background-color: #F5F4FA;
    margin-top: 94px;
}

.komanda {
    justify-content: center;
}